---

all:

  hosts:

    nextcloud-vm:
      ansible_connection: ssh
      ansible_host: 192.168.56.101
      ansible_user: nextcloud
      public_iface: enp0s3

  vars:

    ansible_python_interpreter: /usr/bin/python3
    pip_package: python3-pip
    pip_executable: pip3

  children:

    redis_instances:
      hosts:
        nextcloud-vm:

    postgres_instances:
      hosts:
        nextcloud-vm:

    nextcloud_instances:
      hosts:
        nextcloud-vm:
